{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  body {
    background-image: url("https://bit.ly/3fIc4qe");
    background-position: center;
    color: white;
    min-height: 100vh;
    padding-top: 35px;
  }
</style>
<h1>Find Events in Your City</h1>
<h2>Then Add Them to Your Watch List</h2>
<br />
{% if items %}
<div>{{ pagination.links }}</div>
<br />
<div class="container">
  <div class="row">
    {% for event in items %} {% for location in event['_embedded']['venues'] %}

    <div class="col-md-4 col-sm-12 col">
      <div class="card">
        <img
          src="{{ event['images'][0]['url'] }}"
          id="card-img-1"
          style="height: 200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 id="card-title-1" class="card-title">{{event['name']}}</h5>
          <p class="card-text">
            Where:
            <span id="card-desc-1" class="card-text"
              >{{ location['city']['name'] }}</span
            >
          </p>
          <p class="card-text">
            When:
            <span id="card-desc-2" class="card-text"
              >{{ event['dates']['start']['localDate'] }}</span
            >
          </p>
          <a
            id="desLink"
            href="{{ event['url'] }}"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-sm btn-primary btn_font"
            >Learn More</a
          >
          <button
            type="button"
            id="{{ event['id'] }}"
            class="link-btn btn btn-sm btn-success btn_font mx-auto"
            onclick="addToList(id)"
          >
            Add To Watch List
          </button>
        </div>
      </div>
    </div>
    {% endfor %} {% endfor %}
  </div>
</div>
<br />
<div>{{pagination.links}}</div>
{% endif %} {% endblock %}
